__pycache__/
/env/
/index.txt
/bigram_index.txt
/index.old.txt
/index_*.txt
/bigram_index_*.txt
/temp_file.txt
/run_log.txt
/docInfo.txt
/num_documents.txt
/page_data/filtered_data/
/page_data/filtered_data_new/