__pycache__/
/env/
/index.txt
/bigram_index.txt
/index.old.txt
/index_*.txt
/bigram_index_*.txt
/run_log.txt
/log.txt
/docInfo.txt
/num_documents.txt
/page_data/data/
/page_data/filtered_data/
/spidey.pid
/uwsgi.ini
/start_uwsgi.sh